{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h3 class="title-text">{% trans "Sign In" %}</h3>


<p class="body-text">{% blocktrans %}Welcome back to The Final Whistle. To create a post and leave comments, then please log in.
  If you have not created an account yet, then <a class="form-link" href="{{ signup_url }}"><strong>SIGN UP.</strong></a>{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction waves-effect waves-light btn form-but" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
