/******************************* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800&display=swap');


/*************** fix footer to bottom of page navbar */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/******************** special margins/paddings/text */

.no-padding-bottom {
    padding-bottom:0px !important;
}

.no-padding {
    padding: 0;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.title-text {
    font-family: 'Nunito', sans-serif;
}

.body-text {
    font-family: 'Rubik', sans-serif;
}

.body-text > a {
    color: white;
}

.comment-counts {
    margin-top: 1em;
    border: none;
    background: none;
}

.comment-counts:focus {
    background: none !important;
}

.create-post-link {
    background-color: #227c70;
    border-radius: 5px;
    padding: 5px;
}

.create-post-link > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.create-post-sign-links {
    text-decoration: none;
    color: #1c315e !important;
}

.go-home-link {
    text-decoration: none;
    color: white;
}

.thanks-title {
    font-size: 3em;
    margin-top: 4em;
    color: #1c315e;
}

.thanks-para {
    font-size: 2em;
    color: #1c315e;
}

.edit-post {
    font-size: 1em;
    color: #1c315e;
}

.not-sign-in-title {
    font-size: 2em;
}

/******************************************* navbar */

.nav-wrapper {
    background-color: #1c315e;
}

.brand-logo > img {
    height: 1.5em;
    margin: .2em;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 10%;
}

.head-nav {
    margin-bottom: 1.5em;
}

/******************************************* footer */

.page-footer {
    background-color: #1c315e;
    margin-top: auto;
}

.footer-copyright {
    padding: 0;
}

.github-logo {
    margin-left: 1em;
    color: whitesmoke;
}

.github-logo:hover {
    color: #227c70;
    transition: all .4s ease;
}

.copy-div {
    text-align: center;
}

.foot-social > li {
    display: inline;
}

.social-links {
    color: whitesmoke;
}

.social-links:hover {
    color: #227c70;
    transition: all .4s ease;
}

.social-links-margin {
    margin-left: 2em;
}

.foot-title {
    font-size: 2em;
    margin-top: 0;
}

/******************************** forum post list cards */

.card-title {
    margin-bottom: 0;
    border-radius: 5%;
    font-size: 1.2em !important;
}

.card-title-main {
    background-color: #1c315e;
}

.card .card-image .card-title {
    padding: 10px;
}

.card .card-image img {
    height: 200px;
    object-fit: contain;
}

.vote-arrow {
    margin-left: 0.5em !important;
    color: #1c315e;
}

.card-link {
    color: #1c315e !important;
}

.card-arrow {
    margin-top: 1em;
}

/******************************** pagination */

.page-navigation {
    background-color: white;
    margin-bottom: .5em;
}

/******************************** post detail */

.comments {
    padding: 5px;
}

.tags { 
    background-color: #227c70;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.comment-link {
    color: #1c315e !important;
}

.post-content {
    margin-top: 20px;
}

/******************************** Forms */

label {
    display: none;
}

.form-but {
    background-color: #1c315e !important;
    margin-bottom: 30px;
}

.form-but:hover {
    background-color: #227c70 !important;
}

.form-link {
    color: #1c315e !important;
}

.com-but {
    margin-top: 1.5em !important;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #1c315e;
    border-radius: 4px;
    background-color: whitesmoke;
    font-size: 14px;
    resize: none;
    font-family: 'Rubik', sans-serif;
}

.vote-clicked {
    color: red;
}

.vote-but {
    cursor: pointer;
}

::placeholder {
    color: black;
    opacity: 1;
}

.create-post-form {
    margin-bottom: 1em;
}

/******************************** Modal */

.modal .modal-close:hover {
    background-color: #227c70;
    color: white;
}

/******************************** Edit post page */

.edit-post-title {
    font-size: 3em;
}

#id_feature_image + a {
    color: black !important;
}

.edit-post-links {
    color: #1c315e !important;
}

/******************************** Message alerts */

.alert {
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.container {
    position: relative;
}

#message-alert {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 99;
    width: fit-content;
}

.visibility-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s 4s, opacity 4s linear;
    transition-delay: 2s;
}

.alert-row {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 98;
    width: fit-content;
}

/******************************** Back to top button */

#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    color: white;
}
