{% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col s8 offset-s2 center-align ">
        <img class="responsive-img" src="https://res.cloudinary.com/ddkb2afxq/image/upload/v1679238088/images-the-final-whistle/404-image_smb6po.gif" alt="chicken showing a red card gif">
    </div>
    <div class="col s8 offset-s2">
        <p class="body-text flow-text">You seem to be lost, the page you have tried to reach doesn't exist. Please use the navbar to find your way home.</p>
    </div>
</div>

{% endblock %}