{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Final Whistle</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Football forum to talk all things about your football team">
    <meta name="keywords" content="football, football forum, football fans">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0f99558fa2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <nav class="head-nav">
        <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo"><img src="https://res.cloudinary.com/ddkb2afxq/image/upload/v1677874826/images-the-final-whistle/whistle-icon_ltdl1k.png" alt="Final whistle logo"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down title-text">
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account_signup' %}">Register</a></li>
                <li><a href="{% url 'account_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <ul class="sidenav title-text" id="mobile-demo">
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Login</a></li>
        <li><a href="{% url 'account_signup' %}">Register</a></li>
        {% endif %}
    </ul>
    <div class="row">
        <div class="col s8 offset-s2">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} id="message-alert" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="container">
        
        {% block content %}
        <!-- content goes here -->
        {% endblock content %}

    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row no-margin-bottom">
                <div class="col l6 s12">
                    <p class="title-text foot-title">The Final Whistle</p>
                    <p class="body-text">Have <strong>YOUR</strong> say on all the action involving <strong>YOUR</strong> team.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul class="foot-social">
                        <li><a class="social-links" href="https://www.facebook.com/" target="_blank" aria-label="Go to Facebook"><i class="fa-brands fa-square-facebook fa-2xl"></i><span></span></a></li>
                        <li><a class="social-links-margin social-links" href="https://www.instagram.com/" target="_blank" aria-label="Go to Instagram"><i class="fa-brands fa-square-instagram fa-2xl"></i></a></li>
                        <li><a class="social-links-margin social-links" href="https://twitter.com/?lang=en" target="_blank" aria-label="Go to Twitter"><i class="fa-brands fa-square-twitter fa-2xl"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright no-padding-bottom">
            <div class="container">
                <div class="row no-margin-bottom">
                    <div class="col s12 copy-div">
                        <p class="copyright title-text">Copyright &copy; Carl Ellis <span id="copyright"></span><a class="github-logo" href="https://github.com/carl2087?tab=repositories" target="_blank" aria-label="Go to GitHub"><i class="fa-brands fa-square-github fa-xl"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>