{% extends 'base.html' %}

{% block content %}

<!-- displays to user after creating a post  -->
{% if posted is True %}
<div class="row">
    <div class="col s12 center-align">
        <h2 class="title-text thanks-title">Thanks for posting, your post is awaiting approval.</h2>
        <h3 class="body-text thanks-para">To browse some posts whilst you wait please </h3>
        <p> <button class="waves-effect waves-light btn form-but com-but"><a class="go-home-link" href="{% url 'home' %}">click here</a></button></p>
    </div>
</div>

{% else %}

<!-- if user logged in displays create a post form  -->
{% if user.is_authenticated %}
<div class="row s12">
    <div class="col s8 offset-s2">
        <h6 class="title-text">Posting as: {{ user.username }}</h6>
            <form enctype="multipart/form-data" class="body-text create-post-form" method="POST" name="create_post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="waves-effect waves-light btn form-but com-but" type="submit">Submit</button>
            </form>
    </div>
</div>
<!-- if not logged in asks user to register or login  -->
{% else %}
    <div class="row">
        <div class="col s12">
            <h3 class="title-text"><strong>RED CARD!!</strong></h3>
            <p class="body-text">Sign in <a class="create-post-sign-links"  href="{% url 'account_login' %}"><strong>HERE</strong></a> to create a post.</p>
            <p class="body-text">If you don't have an account you can create one <a class="create-post-sign-links" href="{% url 'account_signup' %}"><strong>HERE</strong></a></p>
        </div>
    </div>
{% endif %}
{% endif %}

{% endblock %}