{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col s8 offset-s2">
        {% if user.is_authenticated %}

            {% if request.user == form.instance.author %}

                {% if posted is False %}

                    <!-- if user logged in and it is their post allows them to edit the post  -->
                    <h1 class="title-text edit-post-title">Edit Post</h1>
                    <p class="body-text"> Editing as: {{ user.username }}</p>
                    <form enctype="multipart/form-data" class="body-text create-post-form" method="POST" name="edit_post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <button class="waves-effect waves-light btn form-but com-but body-text"
                            type="submit">Submit</button>
                        <!-- modal appears when user wants to cancel editing a post -->
                        <!-- Modal Trigger -->
                        <button class="waves-effect waves-light btn form-but com-but body-text ">
                            <a
                                class="modal-trigger"
                                href="#modal1"><strong>Cancel</strong>
                            </a>
                        </button>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <h4 class="title-text">Are you sure you want to cancel editing your post?</h4>
                                <strong>
                                    <p class="body-text">Any progress you've made so far will be lost!</p>
                                </strong>
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'my_posts' %}"
                                    class="modal-close waves-effect waves-green btn-flat">Cancel editing</a>
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Keep on editing</a>
                            </div>
                        </div>
                    </form>

                        <!-- displays if post edit failed  -->
                    {% if failed %}
                        <p class="fail-text body-text">
                            <strong>
                            Unfortunately your post edit form failed to submit. Please check all required fields are
                            correctly filled in and try again.
                            </strong>
                        </p>
                    {% endif %}

    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if posted is True %}
            <div class="col s12">
                <p class="body-text flow-text">Your post has been edited succesfully!</p>
                <p class="body-text flow-text">To go back to the homepage please click <a class="edit-post-links" href="{% url 'home' %}"><strong>HERE</strong></a> or to go back to your posts
                please click <a class="edit-post-links" href="{% url 'my_posts' %}"><strong>HERE.</strong></a></p>
            </div>
        {% endif %}
</div>
        
</div>

{% endblock %}