{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col s12">
        <h3 class="title-text">{{ post.title }}</h3>
        <h5 class="title-text">{{ post.author }}</h5>
    </div>

</div>
<div class="row">
    <div class="col s12 m6">
        {% if "placeholder" in post.feature_image.url %}
        <img class="materialboxed post-detail-img" src="https://res.cloudinary.com/ddkb2afxq/image/upload/v1678024895/images-the-final-whistle/football-on-pitch_urfmwe.jpg" width="100%">
        {% else %}
        <img class="materialboxed post-detail-img" src=" {{ post.feature_image.url }}" width="100%">
        {% endif %}
    </div>
    <div class="col s12 m6">
        {{ post.post_content | safe }}
    </div>
    <div class="col s2 comment-counts"><i class="fa-solid fa-turn-up vote-arrow"></i><strong> {{ post.num_of_upvotes }} </strong></div>
    <div class="col s2 comment-counts"><i class="fa-solid fa-turn-down vote-arrow"></i><strong> {{ post.num_of_downvotes }} </strong></div>
    <div class="col s2 comment-counts">
    {% with comments.count as total_comments %}
    <strong class="body-text"><i class="far fa-comments"></i>
        {{ total_comments }}</strong>
    {% endwith %}
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <h4 class="title-text">Comments:</h4>
        {% for comment in comments %}
                <div class="body-text" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.comment | linebreaks }}
                </div>
        {% endfor %}
    </div>
    <div class="col s12 m6">
        {% if user.is_authenticated %}
        <h4 class="title-text">Leave a comment:</h4>
        <p>Posting as: {{ user.username }}</p>
        <form method="post">
            {{ comment_form }}
            {% csrf_token %}
            <br>
            <button class="waves-effect waves-light btn form-but com-but" type="submit">Submit</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
